streamlit
faiss-cpu
sentence-transformers
langchain==0.1.20
langchain-groq
groq
pyngrok
pypdf
arabic-reshaper
python-bidi
pillow
pytesseract
langdetect
gtts
pandas
python-docx
openpyxl





