streamlit
pandas
python-docx
openpyxl
pillow
langdetect
gtts
arabic-reshaper
python-bidi
pypdf
pyngrok
langchain==0.1.20
langchain-groq
groq
sentence-transformers
faiss-cpu
pytesseract






