streamlit
faiss-cpu
sentence-transformers
langchain-community
langchain
langchain-groq
groq
pyngrok
pypdf
arabic-reshaper
python-bidi
pillow
pytesseract
langdetect
gtts
pandas
python-docx
openpyxl
langchain==0.1.20


